<section class="c-faq">
  <div class="l-container">
    <div class="c-faq__navitems">
        <% if (typeof faq != 'undefined') { %>
            <% faq.items && faq.items.forEach((item,index) => { %>
                <div id="#section<%=index+1%> " class="c-faq__navitem">
                    <span class="c-faq__navitemttitle"><%=item.title%></span>
                </div>
            <% }) %>
        <% } %>
    </div>
    <div class="c-faq__wrapper">
        <% if (typeof faq != 'undefined') { %>
            <% faq.items && faq.items.forEach((item,index) => { %>
                <div class="c-faq__topic">
                    <h3 class="c-faq__title" id = "section<%=index+1%>"><%=item.title%></h3>
                    <div class="c-faq__topicitems">
                        <% item.faqs && item.faqs.forEach(faq => { %>
                            <div class="c-faq__topicitem">
                                <div class="c-faq__question">
                                    <h4 class="c-faq__questiontitle"><%=faq.question%></h4>
                                </div>
                                <div class="c-faq__answer">
                                    <p class="c-faq__answercontent"><%=faq.answer%></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
   
  
  </div>
</section>
