<section class="c-intro">
    <div class="l-container">
        <div class="c-intro__tabs">
            <div class="c-intro__tab c-intro__tab1 c-intro__tab--active">
                <h3 class="c-intro__tabtitle">タクシーサービス</h3>
                <p class="c-intro__tabsubtitle">他社に追随を許さない新サービスの展開</p>
            </div>
            <div class="c-intro__tab c-intro__tab2">
                <h3 class="c-intro__tabtitle">ハイヤーサービス</h3>
                <p class="c-intro__tabsubtitle c-intro__tabsubtitle--right">（高級車を専属利用）プロとしての責任感と上質なサービス</p>
            </div>
        </div>
            <% if (typeof services != 'undefined') { %>
                <% services.items && services.items.forEach((item,index) => { %>
                <div class="c-intro__content c-intro__content<%=index+1%>">
                    <div class="c-intro__service c-intro__service<%=index+1%>">
                        <div class="c-intro__serviceleft">
                            <img  class="c-intro__serviceimg" src="<%=item.img%>" alt="<%=item.title%>">
                        </div>
                        <div class="c-intro__serviceright">
                            <div>
                                <h2 class="c-intro__servicetitle"><%=item.title%></h2>
                                <p class="c-intro__servicedes"><%=item.des%></p>
                            </div>
                            <a class="c-intro__button" href="#"><%=item.btn%></a>
                        </div>
                    </div>
                    <div class="c-intro__guide">
                        <div class="c-intro__guidelabel">
                            <p class="c-intro__guidelabeljp">サービス案内</p>
                            <p class="c-intro__guidelabelen">Service guide</p>
                        </div>
                        <div class="c-intro__guideitems">
                            <% item.guide && item.guide.forEach((guideItem,index) => { %>
                                <div class="c-intro__guideitem">
                                    <img class="c-intro__guideimg" src="<%=guideItem.img%>" alt="<%=guideItem.title%>">
                                    <span class="c-intro__guidetext"><%=guideItem.title%></span>
                                </div>
                            <% }) %>
                        </div>
                    </div> 
                </div>
            <% }) %>
        <% } %>
    </div>
</section>